<table id="main">
    <tr>
        <td class="std-pd">
            {{ partial('partials/betting-rules') }}
        </td>
    </tr>
    <tr class="login-separator">
        <td></td>
    </tr>
</table>