@font-face {
  font-family: 'Museo Sans';
  src: url('/lite/fonts/museosans_500-webfont.woff2') format('woff2'),
    url('/lite/fonts/museosans_500-webfont.woff') format('woff'),
    url('/lite/fonts/MuseoSans_700.otf') format('otf'),
    url('/lite/fonts/MuseoSans_500.otf') format('otf'),
    url('/lite/fonts/MuseoSans_700.otf') format('otf'),
    url('/lite/fonts/MuseoSans-900.otf') format('otf');
  font-weight: normal;
  font-style: normal;

}

html,
body {
  background-color: #191B1C;
  margin: 0 auto;
  max-width: 768px;
  font-family: 'Museo Sans', Arial, Helvetica, sans-serif;
  width: 100%;
}

table,
td {
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.uppercase {
  text-transform: uppercase;
  font-weight: bold;
}

.alert-info {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.undecorate {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.87);
}

.locked .pick {
  color: #7a7a7a;
}

.spacer {
  height: 5px;
  background-color: transparent;
}

.login-button {
  display: block;
  font-size: 10px;
  text-align: center;
  color: #000 !important;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.verify {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
}

.pull-left {
  float: left;
}

.country-league {
  padding-left: 20px !important;
  text-align: left;
}

.live-header {
  color: #FFC23E !important;
  font-size: 14px !important;
  line-height: 16px !important;
  font-weight: 700 !important;
  padding-bottom: 8px;
}

.live-color {
  color: #FFC23E !important;
}

.hide-item {
  display: none;
}

.pull-right {
  float: right !important;
}

.green {
  color: #75B82A;
}

.theme-color {
  color: rgba(255, 255, 255, 0.87);
}

.padding-up-down {
  padding: 8px 0;
}

#header {
  border-collapse: collapse;
  width: 100%;
}

#header a {
  text-decoration: none;
}

#header table {
  border-collapse: collapse;
}

#header .brand {
  background-color: #75B82A;
  color: white;
}


.logo a img {
  width: 90px;
}

.main-padding {
  padding: 2px 8px;
}

#header .brand .betslip {
  text-align: right;
  border-collapse: collapse;
  background-color: #75B82A;
  color: white;
  font-size: 12px;
}

#header .brand .betslip--count {
  background-color: #ffd800;
  padding: 3px 6px;
  font-weight: bold;
}

#header .session {
  text-transform: uppercase;
  height: 30px;
  text-align: center;
  border-collapse: separate;
  margin-top: 4px;
}

.odd-del {
  width: 20px;
}

#header .session .loggedin td {
  width: 25%;
}

#header .session tr td {
  background-color: white;
  width: 50%;
}

#header .session tr td a {
  color: #6b6b6b;
  font-weight: bold;
  font-size: 9px;
  display: block;
}

.jp {
  width: 100%;
}

#main {
  border-collapse: collapse;
  width: 100%;
}

#main .landing {
  border-collapse: collapse;
  width: 100%;
  border-left: 1px solid #252525;
  border-right: 1px solid #252525;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#main .landing .top {
  width: 100%;
  border-collapse: collapse;
}

#main .landing .top--image {
  border-right: 2px solid #DEDFE4;
}

#main .landing .top--nav {
  background-color: white;
  border-collapse: collapse;
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 5px;
}

#main .landing .top--nav td {
  text-align: center;
  width: 33%;
  padding: 2px;
}

#main .landing .top--nav td a {
  color: #666666;
  text-decoration: none;
  display: block;
  padding: 6px;
}

#main .landing .top--nav .selected {
  border-bottom: 2px solid #363636;
}

#main .landing .top--nav .selected a {
  color: #333;
}

.top--search form table {
  border-collapse: collapse;
}

.top--search form input {
  width: 89%;
  border: 1px solid #caccd4;
  height: 28px;
  padding: 0 5px;
  background-color: #fbfbfb;
  border-radius: 2px;
  font-size: 12px;
}

.top--search form button {
  width: 100%;
  border: 1px solid #979797;
  height: 30px;
  background-color: #191B1C;
  color: rgba(255, 255, 255, 0.87);
  border-radius: 4px;
  font-size: 12px;
}

.highlights {
  color: #333;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.highlights--item {
  background-color: #202020;
  border-collapse: collapse;
  margin: 0;
  width: 100%;
}

.jackpots--item {
  background: #1B1C1D;
  border-collapse: collapse;
  margin: 0;
  width: 100%;
}

.market-item {
  background-color: #121212 !important;
  border-collapse: collapse;
  margin: 0;
  width: 100%;
  border: none !important;
}

.highlights--item .selected {
  background-color: #f8e892;
  color: #333 !important;
}

.highlights--item .selected table td a {
  color: #333333;
  text-decoration: none;
  display: block;
  width: 100%;
}

.highlights--item .league {
  width: 100%;
  text-align: left;
}

.wins {
  font-size: 14px !important;
}

.jackpots--item .league {
  width: 100%;
  text-align: left;
}

.highlights--item .league td {

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.87);
}

.jackpots--item .league td {
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.87);
}

.pd-5 {
  padding: 5px 5px 0px 5px;
}

.play-time {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.87);
}

.highlights--item .game {
  text-align: center;
  font-weight: 700;
  font-size: 12px;
}

.highlights--item .game .clubs {
  text-align: left;
}

#main .highlights--item .game .sidebet {
  text-align: center;
  border: 1px solid #DEDFE4;
  background-color: #f2f2f4;
  max-width: 35px;
  display: block;
  float: right;
}

.time {
  font-size: 14px !important;
  padding-bottom: 6px;
}

.more-module {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
}

.more-module button {
  border: none;
  background: transparent;
  color: rgba(255, 255, 255, 0.87);
}

.clear-button {
  background: transparent;
  border: none;
  padding: 0;
}

.game-title {
  text-align: left;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.87);
}

.markets-separator {
  height: 1px;
  background: #414141;
}

.markets-subtitle {
  text-align: left;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.87);
}

#main .highlights--item .game .sidebet a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 4px 8px;
}

.odds td {
  width: 25%;
}

.sidebets {
  padding: 0 3px;
}

.more-row {
  height: 40px;
  background: #1B1C1D;
}

#main .highlights--item .odds table {
  width: 100%;
}

#main .highlights--item .odds td a {
  color: rgba(255, 255, 255, 0.87);
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: center;
  background: #2E2E2E;
  border: 1px solid #949494;
  border-radius: 4px;
  margin-bottom: 8px;
  height: 48px;
  font-size: small;
  font-size: 14px;
  max-height: 48px;
}

#main .highlights--item .odds .clubone {
  padding-left: 8px;
}

.odd-pd-picked {
  background: #01B601 !important;
}

#main .highlights--item .odds .border-td {
  height: 100%;
  width: 1px;
  background-color: #b5b5b5;
}

#main .highlights--item .odds .border-tr>td {
  height: 2px;
  width: 100%;
  background-color: #DEDFE4;
}

#main .highlights--item .odds .draw {
  padding-left: 8px;
}

#main .highlights--item .odds .clubtwo {
  padding-left: 8px;
  text-align: left;
}

#main .highlights--item .odds .odd {
  font-weight: 700;
}

#main .pagination {
  font-size: 12px;
}

#main .pagination table {
  margin: 0 auto;
}

#main .pagination table .selected {
  background-color: #333;
}

#main .pagination table td {
  background-color: #636363;
  width: 30px;
  height: 30px;
  text-align: center;
}

#main .pagination table td a {
  color: white;
  text-decoration: none;
}

#main .betslip {
  border-collapse: collapse;
  color: rgba(255, 255, 255, 0.87);
}

#main .betslip .delete {
  text-align: right;
}

.delete form {
  display: inline;
}

.alert {
  font-size: 13px;
  padding: 4px;
  text-align: center;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.remove-match {
  background: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.87);
  width: 100%;
  height: 50px;
  cursor: pointer;
}

#main .betslip .delete a {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.87);
  padding: 5px 10px;
}

#main .betslip a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.87);
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
}

#main .betslip .bet {
  width: 100%;
}

#main .betslip .bet .type {
  color: rgba(255, 255, 255, 0.87);
  font-weight: 100;
}

#main .betslip .title {
  background-color: #202020;
  color: rgba(255, 255, 255, 0.87);
  height: 42px;
  font-weight: 700;
  font-size: 18px;
}

#main .betslip .title-opera {
  background-color: #202020;
  color: rgba(255, 255, 255, 0.87);
  height: 42px;
  font-weight: 700;
  font-size: x-large;
}

#main .betslip .title span {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.min-stake {
  color: rgba(255, 255, 255, 0.57) !important;
}

.pr-12 {
  padding-right: 12px !important;
}

.slip-stake-sel button {
  width: 90%;
  height: 24px;
  background: #2E2F30;
  border: 1px solid rgba(255, 255, 255, 0.57);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.87);
  font-weight: 700;
  font-size: 12px;
  margin: 4px 4px 8px 4px !important;
}

.multibet-boost {
  color: #EAA844;
}

#main .betslip .title span img {
  padding-left: 6px;
  vertical-align: top;
}

.slip-match {
  background: #121212;
  color: rgba(255, 255, 255, 0.87);
  font-style: normal;
  font-weight: normal !important;
  font-size: xx-small;
  font-size: 12px;
  line-height: 16px;
  height: 52px;
}

.slip-match-border {
  height: 1px;
  background: #414141;
}

.slip-stake {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 4px;
}

.slip-td {
  padding: 8px 0px;
}

.slip-subtitle {
  height: 40px;
  background: #121212;
  color: rgba(255, 255, 255, 0.87);
  font-size: 18px;
}

#main .betslip .title a {
  text-decoration: underline;
}

.bold {
  font-weight: 700;
}

#main .betslip .details {
  background: #262626;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: xx-small;
  font-size: 12px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.87);
}

#main .betslip .details .left {
  border-right: 2px solid #DEDFE4;
  padding: 5px 5px;
  width: 45%;
}

#main .betslip .details .right {
  border-left: 2px solid #DEDFE4;
  padding: 5px 5px;
}

#main .betslip .details .right form input {
  width: 80%;
  height: 28px;
  padding: 0 5px;
  min-width: 20px;
  border: 2px solid #ecedef;
}

#main .betslip .details .right .update {
  background-color: #444444;
  color: white;
  border: none;
  height: 30px;
  width: 100%;
}

#main .betslip .details .right .place {
  width: 100%;
  height: auto;
  background-color: #FFD800;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  padding: 8px 0;
}

#main .betslip .details tr td {
  padding-top: 4px !important;
}

#main .betslip .delete-all {
  text-align: center;
  font-size: 12px;
  border: none;
  background: transparent;
  margin: auto;
  display: table;
  color: rgba(255, 255, 255, 0.87);
  line-height: 24px;
  font-weight: 700;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.clear-slip {
  height: 54px;
  text-decoration: underline;
}

#main .football {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
}

.jp .game td {
  padding-top: 2px;
}

#main .football .title {
  color: rgba(255, 255, 255, 0.87);
  height: 40px;
  text-align: left;
  padding-left: 8px;
}

#main .football .menu {
  background-color: #2B2B2B;
  color: rgba(255, 255, 255, 0.87);
  border-top: 1px solid #202020;
  height: 40px;
}

.deposit-row {
  height: 64px;
}

.deposit-details {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.87);
}

.games-border {
  border-top: 1px solid rgba(255, 255, 255, 0.87) !important;
}

.selected-menu-item {
  border-left: 5px solid #A20000;
}

.aoi {
  list-style-type: none;
  margin: 0;
  margin-left: 0;
  padding: 3px;
}

.sport {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.sport .competition>a {
  font-weight: bold;
}

.lgue {
  padding-left: 15px !important;
}

.sport-header {
  font-weight: bold;
  text-transform: uppercase;
  color: #24367e !important;
  background: #fff;
  display: block;
  padding: 10px;
}

.gothb {
  color: #252525;
  text-decoration: none;
  display: block;
  max-width: 100%;
  height: 100%;
  background: #fff;
  padding: 10px;
  border-bottom: 1px solid #dedfe4;
  font-weight: bold;
}

.aoi li a {
  color: #686868;
  text-decoration: none;
  display: block;
  max-width: 100%;
  height: 100%;
  background: #fff;
  padding: 10px;
  border-bottom: 1px solid #DEDFE4;
}



#main .football .menu a {
  font-size: 14px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.87);
  text-decoration: none !important;
  padding-left: 6px;
  float: left;
  text-align: left;
  display: block;
  width: 87%;
  line-height: 1.5em;
  padding-bottom: 8px;
  padding-top: 8px;
}

#main .football .menu span {
  font-size: 14px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.87);
  padding-left: 6px;
  float: left;
}

hr {
  border: 1px solid #f4f5f6;
}

.text-center {
  text-align: center;
}

#main .football .menu .text {
  vertical-align: middle;
}

.full-width {
  width: 100%;
}

#main .football .menu .icon {
  font-size: 19px;
  vertical-align: middle;
}

#main .sports {
  width: 100%;
  border-collapse: collapse;
  margin: 5px 0;
  font-size: 12px;
}

#main .sports .category {
  width: 100%;
}

#main .sports .category .title {
  background-color: #24367E;
  color: white;
  height: 35px;
  text-align: left;
  padding-left: 5px;
}

#main .sports .category .sub-category {
  width: 100%;
  background-color: white;
  color: #24367E;
  /*border-bottom: 1px solid $gray;*/
}

#main .sports .category .sub-category th {
  text-align: left;
  padding-left: 10px;
}

#main .sports .category .sub-category tr {
  border-bottom: 1px solid #DEDFE4;
  height: 30px;
}

#main .sports .category .sub-category td {
  padding-left: 30px;
}

#main .jackpot {
  width: 100%;
}

#main .jackpot--title {
  background-color: #f4f5f6;
  color: #24367E;
  height: 30px;
  font-size: 14px;
  border: none;
}


.jp-matches .row {
  background: #fff;
  padding: 3px;
  margin: 5px;
  overflow: auto;
}

.jp-matches .row .bold {
  font-weight: bold;
  text-transform: uppercase;
}

.jp-matches .row .teams {
  padding: 5px;
}

.jp-matches .row button {
  float: left;
  background: #f3f3f3;
  display: inline-block;
  border: 1px solid #fff;
  padding: 6px 10px;
  outline: none;
}

#main .jackpot .highlights {
  color: #333;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  margin: 5px 0;
}

.one-row {
  width: 100% !important;
}

.two-rows {
  width: 50% !important;
}

.three-rows {
  width: 33.33% !important;
}

.place {
  width: 100%;
  background: #616161;
  color: rgba(255, 255, 255, 0.87);
  border: 1px solid #616161;
  border-radius: 4px;
  margin: 8px 0px 20px 0px;
  height: 24px;
}

@media only screen and (min-width: 360px) {

  .place {
    height: 32px;
  }
}

.total-stake {
  padding: 5px 0;
}

.pick {
  font-weight: 700;
}

.pb-5 {
  padding-bottom: 5px !important;
}

.placebet {
  text-align: center;
}

.placebet .met {
  color: #333;
  font-size: 14px;
}

.placebet .stake-amt {
  color: #000;
  font-weight: bold;
}

#place_bet_button {
  margin-top: 5px;
}

#main .jackpot .highlights--item {
  background-color: white;
  border-collapse: collapse;
  margin-bottom: 5px;
}

#main .jackpot .highlights--item .selected {
  background-color: #202020;
  color: rgba(255, 255, 255, 0.87) !important;
}

#main .jackpot .highlights--item .selected table td a {
  color: white;
  text-decoration: none;
  display: block;
  width: 100%;
}

#main .jackpot .highlights--item .league {
  width: 100%;
}

#main .jackpot .highlights--item .league td,
.meta {
  color: rgba(255, 255, 255, 0.57) !important;
  font-size: 12px !important;
  font-weight: normal !important;
  font-style: normal !important;
  line-height: 16px !important;
  padding-top: 6px;
  padding-bottom: 5px;
}

#main .jackpot .highlights--item .game {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
}

.sidebet {
  padding: 0px 8px;
}

.sidebet a span {
  padding-top: 16px;
  display: inline-block;
  font-size: 14px !important;
  font-weight: 700;
}

#main .jackpot .highlights--item .game .clubs {
  text-align: left;
  padding-left: 5px;
}

#main .jackpot .highlights--item .game .sidebet {
  text-align: center;
  padding: 0;
  border: 2px solid #DEDFE4;
  background-color: #f2f2f4;
}

#main .jackpot .highlights--item .game .sidebet a {
  color: #24367E;
  text-decoration: none;
  display: block;
}

#main .jackpot .highlights--item .odds {
  background-color: #f2f2f4;
  color: #24367E;
  font-size: 12px;
}

#main .jackpot .highlights--item .odds table {
  width: 100%;
}

.odd-pd {
  padding: 4px 0px;
}

.odds .odd {
  font-weight: 700;
}

.odd td {
  background: #2e2e2e;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

#main .jackpot .highlights--item .odds td {}

p {
  margin: 0;
}

.join-now-footer {
  margin-bottom: 10px !important;
  margin-top: 8px !important;
}

.matches-border {
  height: 1px;
  background: #414141;
}

#main .odds td button {
  color: rgba(255, 255, 255, 0.87);
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: center;
  padding: 0;
  border: 1px solid #949494;
  outline: none;
  background: #626262;
  margin-bottom: 8px;
  border-radius: 4px;
  line-height: 16px;
  font-size: 14px;
  font-weight: 500;
}

.sidebet-card {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  color: rgba(255, 255, 255, 0.87);
  text-align: center;
  border-collapse: collapse;
  display: block;
}

.sidebet-header {
  clear: both;
  display: block;
  padding: 6px;
  font-size: 13px;
  margin-top: 5px;
  font-weight: 700;
  text-align: left;
}

.odd-value {
  font-weight: bold;
  display: inline-block;
  float: right;
}

.side-label {
  text-align: left;
  display: inline-block;
  float: left;
}

.odds-w {
  width: 33%;
}

.sidebet-card button {
  display: block;
  color: rgba(255, 255, 255, 0.87);
  border: none;
  display: inline-block;
  background: #626262;
  border: 1px solid #949494;
  text-align: center;
  padding: 0;
  border-radius: 4px;
  width: 100%;
}

#main .jackpot .highlights--item .odds .clubone {
  padding: 0 8px;
  border-top: 2px solid #dedfe4;
  text-align: left;
}

#main .jackpot .highlights--item .odds .draw {
  border-left: 2px solid #dedfe4;
  border-right: 2px solid #dedfe4;
  border-top: 2px solid #dedfe4;
  text-transform: uppercase;
}

#main .jackpot .highlights--item .odds .draw td {
  text-align: center;
}

#main .jackpot .highlights--item .odds .clubtwo {
  padding: 0 8px;
  border-top: 2px solid #dedfe4;
  text-align: left;
}

#main .jackpot .highlights--item .odds .odd {
  font-weight: bold;
}

#main .bingwa4 {
  width: 100%;
  border-collapse: collapse;
  margin: 5px 0;
  font-size: 12px;
}

#main .title {
  font-weight: 700;
  font-size: 18px;
  margin-left: 8px;
}

.reset-password a {
  color: rgba(255, 255, 255, 0.87);
  font-weight: 700;
  text-decoration: underline !important;
}

.login-row {
  height: 40px;
  background: #121212;
}

@media only screen and (min-width: 360px) {

  .login-row {
    height: 48px;
  }
}

.reqpw-row {
  height: 52px;
}

.reqpw-row td {
  padding: 8px 0px 14px 0px;
}

.login-row td {
  padding: 8px 0px 14px 0px;
}

.join-bd {
  border-top: 1px solid #434141;
}

.login-separator {
  height: 1px;
  background: #414141;
}

.login-join {
  width: 100%;
  background: #01B601;
  color: rgba(255, 255, 255, 0.87);
  border: 1px solid #01B601;
  border-radius: 4px;
  margin-bottom: 24px;
  height: 24px;
  cursor: pointer;
}

@media only screen and (min-width: 360px) {

  .login-join {
    height: 32px;
  }
}

.empty-slip-row {
  background: #262626;
  height: 238px;
}

.empty-slip-row td {
  padding: 32px 24px;
  text-align: center;
}

.empty-slip-row td img {
  margin: 0 auto;
  display: block;
  margin-bottom: 8px;
}

.empty-slip-row td span {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: rgba(255, 255, 255, 0.87);
}

.reset-pwd-code {
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.87);
  padding-bottom: 12px;
}

.code-separator {
  height: 1px;
  background: #414141;
}

.deposit-input {
  margin: 12px 0px 20px 0px;
  background: #2E2F30;
}

.deposit-input tr td {
  padding: 4px 8px 4px 8px;
}

.deposit-terms {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: rgba(255, 255, 255, 0.57);
}

.depo-mpesa-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: rgba(255, 255, 255, 0.87);
  padding-bottom: 8px;
}

.jp-opened {
  background: #121212 !important;
}

.pick-for-me {

  height: 24px;
  background: #2E2F30;
  border-radius: 4px;
  border: 1px solid #2E2F30;
  padding: 4px;
  color: rgba(255, 255, 255, 0.87);
  font-size: small;
  font-size: 14px;
}

.jp-opened tr td {
  color: rgba(255, 255, 255, 0.87);
}

.red-theme {
  background: #f03b3a !important;
  color: rgba(255, 255, 255, 0.87) !important;
  border: 1px solid #f03b3a !important;
}

.green-theme {
  background: #01B601 !important;
  color: rgba(255, 255, 255, 0.87) !important;
  border: 1px solid #01B601 !important;
}

#main .bingwa4 .match {
  width: 100%;
  margin: 5px 0;
  background-color: white;
  color: rgba(255, 255, 255, 0.87);
}

#main .bingwa4 .match th {
  background-color: rgba(255, 255, 255, 0.87);
  color: white;
}

#main .bingwa4 .match td {
  display: inline-block;
  background-color: #DEDFE4;
  color: #24367E;
  font-weight: bold;
  padding: 10px;
  border: 1px solid white;
}

#main .register {
  width: 100%;
  border-collapse: collapse;
  margin: 5px 0;
  background-color: white;
  font-size: 12px;
}

#main .register p {
  color: #41434f;
  text-align: justify;
  line-height: 1.5;
  margin: 5px 0;
  padding: 5px;
}

#main .register .title {
  background-color: #ecedef;
  color: #24367e;
  height: 30px;
  font-size: 14px;
}

#main .register .form {
  width: 100%;
  border-collapse: collapse;
}

#main .register .form .spacer {
  height: 10px;
}

#main .register .form .input {
  margin: 2px 0;
}

#main .register .form .input .checkbox {
  font-size: 12px;
  font-weight: bold;
  color: #41434f;
}

#main .register .form .input .checkbox a {
  text-decoration: none;
  color: #24367E;
}

#main .register .form .input div {
  padding: 0 20px;
  margin-left: -10px;
}

#main .register .form .input div label {
  display: block;
  color: #333;
  font-weight: bold;
}

#main .register .form .input div input {
  width: 100%;
  border: 2px solid #696b74;
  height: 30px;
  padding: 0 5px;
  margin: 5px 0;
  font-size: 14px;
  vertical-align: middle;
  color: #333;
  font-weight: bold;
}

#main .register .form .input div input[type="checkbox"] {
  height: 20px;
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 7%;
}

#main .register .form .input button {
  width: 100%;
  border: none;
  height: 40px;
  background-color: #24367E;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

#main .register tr {
  height: 30px;
}

#main .login {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
}

#main .login .title {
  color: rgba(255, 255, 255, 0.87);
  ;
  height: 30px;
  font-size: 14px;
}

#main .login .form {
  width: 100%;
  border-collapse: collapse;
}

#main .login .form .spacer {
  height: 12px;
}

.checkbox input {
  width: auto !important;
  height: auto !important;
}

#main .login .form .input[type="text"] {
  margin: 2px 0;
}

#main .login .form .input .checkbox {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.87);
  line-height: 18px;
  padding-bottom: 18px;
}

.terms-checkbox {
  margin: 2px 3px 0px 0px;
}

#main .login .form .input .checkbox a {
  color: rgba(255, 255, 255, 0.87);
}

.join-terms {
  font-weight: 700;
  text-decoration: underline !important;
}

#main .login .form .input div label {
  display: block;
  color: rgba(255, 255, 255, 0.87);
  ;
  font-size: 1.2em;
}

#main .login .form .input div input {
  width: 100%;
  height: 30px;
  padding: 12px 0px;
  margin: 5px 0;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.87);
  border: 1px solid #FFF;
  background-color: #FFFFFF !important;
  border-radius: 2px;
  font-size: 12px;
}

.flag-div {
  background: #FFFFFF;
  margin: 5px 0px;
  border-radius: 2px;
  padding: 0px 4px;
}

.flag-img {
  display: inline-block;
  vertical-align: middle;
}

#main .login .form .input div input[type="checkbox"] {
  height: 20px;
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 7%;
}

#main .login .form .input button {
  width: 100%;
  border: none;
  height: 24px;
  background-color: #434141;
  color: rgba(255, 255, 255, 0.87);
  font-weight: 700;
  font-size: xx-small;
  font-size: 12px;
  margin: 20px 0px;
  border-radius: 4px;
}

@media only screen and (min-width: 360px) {

  #main .login .form .input button {
    height: 32px;
  }
}

.phone-width {
  padding-left: 30px !important;
}

.pt-16 {
  padding-top: 16px !important;
}

.pb-16 {
  padding-bottom: 16px !important;
}

.form td label {
  color: rgba(255, 255, 255, 0.87);
  font-size: 12px;
  font-weight: 700;
}

.errorMessage {
  color: #a20000 !important;
  font-weight: normal;
  padding: 8px 8px 0px 4px;
  text-align: left;
  font-size: 14px;
}

.footer-menu {
  padding: 0px 8px;
  text-align: left;
  margin: 0;
}

.footer-menu li {
  list-style: none;
}

.form td input {
  color: rgba(0, 0, 0, 0.87);
  height: 32px;
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.87);
  margin-top: 4px;
  width: 100%;
  padding: 4px;
  box-sizing: border-box;
}

.form-control {
  color: rgba(0, 0, 0, 0.87);
  height: 32px;
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.87);
  margin-top: 4px;
  width: 100%;
  padding: 4px;
  box-sizing: border-box;
}

.to-be-completed {
  background: #C4C4C4;
  height: 240px;
  color: #000;
  text-align: center;
}

.pl-0 {
  padding-left: 0px !important;
}

.flag-input {
  display: inline-block;
  margin: 0px !important;
  width: 72% !important;
}

.withdraw-pd {
  padding-top: 8px !important;
  padding-bottom: 16px !important;
}

#main .mybets {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  color: rgba(255, 255, 255, 0.87);
  background: #202020;
  margin-bottom: 16px;
}

#main .mybets table {
  width: 100%;
  text-align: center;
  /*border-collapse: collapse;*/
}

.stake {
  border: 1px solid #FFF;
  height: 32px;
  border-radius: 2px;
  box-sizing: border-box;
}

.terms-subtitle {
  padding-bottom: 16px;
  font-weight: 700;
  font-size: 14px;
}

.terms-header {
  height: 40px;
}

.terms-header td {
  padding: 8px 0px 16px 0px;
}

.terms-row {
  color: rgba(255, 255, 255, 0.87);
}

.terms-row ol {
  padding-left: 28px !important;
}

.terms-row ol li {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

.appendix-row {
  height: 42px;
  color: rgba(255, 255, 255, 0.87);
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

.appendix-row td {
  padding-top: 16px;
}

.terms-details {
  color: rgba(255, 255, 255, 0.87);
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  padding-bottom: 16px;
}

.terms-details h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 8px;
}

.jp-history {
  font-size: smaller;
  font-size: 12px;
  text-decoration: underline !important;
}

.jp-hist-td {
  text-align: right;
  padding-right: 8px;
}

#terms-details {
  counter-reset: heading;
}

h2:before {
  content: counter(heading)". ";
  counter-increment: heading;
}

#main .mybets .title {
  background-color: #f4f5f6;
  height: 30px;
  font-size: 12px;
  border: none;
}

#main .mybets .bet table {
  background-color: #202020;
  margin-top: 2px;
  border: 1px solid#202020;
}

#main .mybets .bet .title {
  height: 30px;
  padding: 5px;
  background-color: #202020;
}

#main .betdetail {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.87);
  line-height: 16px;
}

#main .betdetail table {
  width: 100%;
  margin-bottom: 8px;
}

.slip-loggedin {
  color: rgba(255, 255, 255, 0.87);
  float: right;
  font-size: 12px;
  font-weight: 700 !important;
}

#main .betdetail table tr td {

  padding: 4px 0px;
}

#main .betdetail .title {
  background-color: #202020;
  color: rgba(255, 255, 255, 0.87);
  height: 30px;
  font-size: 14px;
  border: none;
}

#main .betdetail .title .status {
  font-size: 12px;
  font-weight: 700;
}

#main .betdetail .title .status .won {
  color: #4F8A10;
}

#main .betdetail .title .status .cancelled {
  color: #ff3333;
}

#main .betdetail .event .title {
  height: 30px;
  padding: 5px;
}

#main .deposit {
  width: 100%;
  border-collapse: collapse;
  color: rgba(255, 255, 255, 0.87);
  font-size: 12px;
}

#main .deposit .title {
  color: rgba(255, 255, 255, 0.87);
  height: 30px;
  font-size: 14px;
}

#main .deposit .form {
  width: 100%;
  border-collapse: collapse;
  margin: 5px 0;
}

#main .deposit .form .spacer {
  height: 10px;
}

#main .deposit .form .input {
  margin: 2px 0;
}

#main .deposit .form .input .checkbox {
  font-size: 12px;
  font-weight: bold;
  color: #41434f;
}

#main .deposit .form .input .checkbox a {
  text-decoration: none;
  color: #24367E;
}

#main .deposit .form .input div {
  padding: 0 20px;
  margin-left: -10px;
}

#main .deposit .form .input div label {
  display: block;
  font-weight: bold;
}

#main .deposit .form .input div input {
  width: 100%;
  border: 2px solid #686868;
  height: 30px;
  padding: 0 5px;
  margin: 5px 0;
  font-size: 14px;
  vertical-align: middle;
  color: #333;
  font-weight: bold;
}

#main .deposit .form .input div input[type="checkbox"] {
  height: 20px;
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 7%;
}

#main .deposit .form .input button {
  width: 100%;
  border: none;
  height: 40px;
  background-color: #24367E;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

#main .deposit tr {
  height: 30px;
}

#main .withdraw {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  color: #686868;
  font-size: 12px;
}

#main .withdraw .title {
  background-color: #ecedef;
  color: #c9cacf;
  height: 30px;
  font-size: 14px;
}

#main .withdraw .form {
  width: 100%;
  border-collapse: collapse;
  margin: 5px 0;
}

#main .withdraw .form .spacer {
  height: 10px;
}

#main .withdraw .form .input {
  margin: 2px 0;
}

#main .withdraw .form .input .checkbox {
  font-size: 12px;
  font-weight: bold;
  color: #41434f;
}

#main .withdraw .form .input .checkbox a {
  text-decoration: none;
  color: #24367E;
}

#main .withdraw .form .input div {
  padding: 0 20px;
  margin-left: -10px;
}

#main .withdraw .form .input div label {
  display: block;
  color: #686868;
  font-weight: bold;
}

#main .withdraw .form .input div input {
  width: 100%;
  border: 2px solid #333;
  height: 30px;
  padding: 0 5px;
  margin: 5px 0;
  font-size: 14px;
  vertical-align: middle;
  color: #333;
  font-weight: bold;
}

#main .withdraw .form .input div input[type="checkbox"] {
  height: 20px;
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 7%;
}

#main .withdraw .form .input button {
  width: 100%;
  border: none;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.87);
  color: white;
  font-weight: bold;
  font-size: 14px;
}

#main .withdraw tr {
  height: 30px;
}

#main .feature {
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.87);
}

#main .feature .title {
  background-color: rgba(0, 0, 0, 0.87);
  color: rgba(255, 255, 255, 0.87);
  height: 30px;
  font-size: 14px;
  border: none;
}

#main .feature .title .game {
  text-transform: uppercase;
  font-weight: bold;
}

#main .feature .title .details {
  font-size: 10px;
  font-weight: normal;
  color: #7b7b7b;
}

#main .feature .title .details td {
  padding: 2px;
}

#main .feature .item {
  font-size: 12px;
}

#main .feature .item>td {
  border: none;
}

#main .feature .item table {
  width: 100%;
  font-size: 12px;
  font-weight: bold;
  margin-top: 5px;
  background-color: white;
  border-collapse: collapse;
}

#main .feature .item table .detail {
  background-color: #f4f5f6;
}

#main .feature .item table th {
  padding: 10px 5px;
  background-color: white;
  padding: 10px 5px;
  height: 100%;
}

#main .feature .item table td {
  padding: 5px;
}

#main .feature .item table .border-right {
  border-right: 1px solid white;
}

#main .feature .item table .border-left {
  border-left: 1px solid white;
}

#main .feature .item table .border-bottom {
  border-bottom: 1px solid white;
}

#main .feature .item table .border-top {
  border-top: 1px solid white;
}

#main .terms {
  padding: 5px;
  background-color: white;
  width: 100%;
  font-size: 12px;
}

#main .terms h1,
#main .terms h2,
#main .terms h3,
#main .terms h4,
#main .terms strong {
  color: #333;
}

#main .terms a {
  text-decoration: none;
  font-weight: bold;
  color: #24367E;
}

#contacts {
  width: 100%;
  background-color: white;
  text-transform: uppercase;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.27);
  text-align: center;
}

#contacts p {
  margin: 4px 0;
}

#contacts p span {
  font-weight: 100;
  color: #6f7387;
}


#footer {
  background-color: #202020;
  width: 100%;
  color: rgba(255, 255, 255, 0.87);
  padding: 10px;
  margin-bottom: 0;
  font-size: 12px;
}

.va-b {
  vertical-align: bottom;
}

#footer .social-icons ul {
  list-style: none;
  padding: 0;
}

#footer .social-icons ul li {
  display: inline-block;
}

#footer .social-icons ul svg {
  color: #8a8d9f;
  fill: #8a8d9f;
  width: 30px;
}

.profile .menu {
  background-color: #f5f5f5;
}

.profile .menu a {
  color: #333;
  font-weight: bold;
}

#footer .top {
  color: #8a8d9f;
  text-transform: uppercase;
}

#footer td {
  vertical-align: top;
  text-align: center;
}

.std-pd {
  padding: 0px 8px !important;
}

.std-4pd {
  padding: 0px 4px;
}

.markets-details {
  background: #202020;
}

.pt-10 {
  padding-top: 10px !important;
}

.pt-4 {
  padding-top: 4px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pt-8 {
  padding-top: 8px !important;
}

.pt-2 {
  padding-top: 2px !important;
}

.mt-8 {
  margin-top: 8px !important;
}

.pt-12 {
  padding-top: 12px !important;
}

.pb-2 {
  padding-bottom: 2px;
}

.pb-12 {
  padding-bottom: 12px !important;
}

.pb-8 {
  padding-bottom: 8px !important;
}

#footer a {
  color: rgba(255, 255, 255, 0.87);
  font-size: smaller;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
}

.slip-hist {
  color: rgba(255, 255, 255, 0.57) !important;
  font-size: 12px !important;
  font-weight: normal !important;
  font-style: normal !important;
  line-height: 16px !important;
}

.slip-hist-sp {
  display: inline-block;
  width: 48px;
  margin-right: 4px;
}

.slip-outcome .lost {
  color: #FF007A;
}

.filter-bets-row {
  height: 24px;
}

.slip-filter-select {
  width: 100%;
  background: #121212;
  color: rgba(255, 255, 255, 0.87);
  margin-bottom: 8px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 16px;
  height: 24px;
  margin-top: 8px;
  border: 1px solid rgba(255, 255, 255, 0.27);
  box-sizing: border-box;
}

option {
  background: #F9F9F9;
  color: rgba(0, 0, 0, 0.87);
}

option {
  box-shadow: 0 0 10px 100px #00B2F3 inset;
}

.slip-filter-ul {
  padding: 0;
  background: #F9F9F9;
  position: absolute;
  width: 93%;
  top: 160px;
  border-right: 1px solid #F9F9F9;
}

.slip-filter-ul li {
  padding: 8px 4px;
  font-size: 12px;
  line-height: 16px;
  background: #F9F9F9;
  color: rgba(0, 0, 0, 0.87);
}

.slip-filter-ul li a {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
  display: inline-block;
  width: 100%;
}

.timeout-ul-top {
  top: 268px !important;
}

.profile-ul-top {
  top: 582px !important;
}

.profile-receive-comm {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.87);
}

.profile-receive-comm-header {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.87);
}

.slip-filter-selected {
  color: #D00B2C !important;
  border-left: 4px solid #D00B2C;
}

.custom-select-selection {
  color: #D00B2C !important;
}

.slip-filter-img {
  float: right;
  position: absolute;
  margin-top: 17px;
  right: 12px;
}

.timeout-filter-img {
  float: right;
  position: absolute;
  margin-top: 35px;
  right: 12px;
}

.slip-one-game-header {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: rgba(255, 255, 255, 0.87);
}

.slip-one-game-header p {
  padding: 4px 0px !important;
}

.slip-one-game-header p .won {
  color: #01B601;
  text-transform: uppercase;
}

.slip-one-game-header p .cashout {
  color: #01B601;
  text-transform: uppercase;
}

.slip-one-game-header p .lost {
  color: #FF007A;
  text-transform: uppercase;
}

.slip-one-game-header p .open {
  color: #E6A544;
  text-transform: uppercase;
}

.slip-one-game-header img {
  margin-bottom: 8px;
  margin-top: 4px;
}

.slip-one-game-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.87);
}

.slip-one-game-title {
  color: rgba(255, 255, 255, 0.87) !important;
  text-decoration: none !important;
  width: 100%;
}

a:-webkit-any-link {
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  text-decoration: none;
}

a {
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  text-decoration: none;
}

.slip-one-game-cashout {
  background: #01B601;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin-top: 8px;
  padding-top: 10px !important;
  box-sizing: border-box;
}

.slip-one-game-cashout img {
  vertical-align: bottom;
  float: right;
}

.account-hist-sp {
  display: inline-block;
  width: 60px;
  margin-right: 4px;
  text-align: left;
}

.tran-up {
  color: #01B601 !important;
}

.tran-down {
  color: #FF007A !important;
}

.tran-balance {
  display: inline-block;
  width: 60px;
}

.notification {
  display: inline-block;
  height: 13px;
  width: 13px;
  background: #FFFFFF;
  position: absolute;
  right: 50px;
  border-radius: 6px;
  z-index: 1;
  font-size: 8px;
  padding: 2px 0px;
  box-sizing: border-box;
  text-align: center;
}

.notification-opera {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url(/lite/img/oval.svg);
  background-repeat: no-repeat;
  position: absolute;
  right: 50px;
  z-index: 1;
  font-size: 6px;
  padding-bottom: 2px;
}

.messages-input {
  margin: 12px 0px 20px 0px;
}

.message-row {
  height: 63px;
  background: #202020;
  color: #A9A7AF;
  line-height: 21px;
  border-bottom: 1px solid #3B3B3B;
}

.bonus-table {
  background: #1B1C1D;
  border: 1px solid #414141;
}

.limit-remove {
  color: rgba(255, 255, 255, 0.87);
  font-size: 12px;
  font-weight: 700;
  padding-top: 4px;
}

.bonus-tb-det {
  color: #FFC23E !important;
}

.set-resp-limits {
  width: 100%;
  border: none;
  height: 24px;
  background-color: #01B601;
  color: white;
  font-weight: bold;
  font-size: 12px;
  margin: 20px 0px;
  border-radius: 4px;
}

.bonus-table td {
  text-align: center;
  font-size: 12px;
  border: 1px solid #414141;
}

.bonus-td-title {
  height: 36px;
  padding: 8px 0px;
  box-sizing: border-box;
}

.bonus-td-content {
  height: 24px;
}

.bonus-bg {
  background: #121212;
}

.bonus-message-sep {
  padding: 16px 0px;
}

.bonus-row {
  height: 63px;
  background: #202020;
  color: #A9A7AF;
  line-height: 21px;
  border-bottom: 1px solid #3B3B3B;
  border-top: 1px solid #3B3B3B;
}

.message-row td {
  padding-bottom: 8px !important;
  padding-top: 2px !important;
  font-size: 14px;
}

.bonus-row td {
  padding: 8px !important;
  font-size: 14px;
}

.message-row td div {
  max-height: 63px;
  overflow: hidden;
}

.one-message-fm {
  color: rgba(255, 255, 255, 0.87);
  line-height: 21px;
  font-size: 14px;
  padding-bottom: 8px !important;
  padding-top: 8px !important;
}

.bonus-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.87);
}

.bonus-message {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.87);
  padding-top: 4px;
}

.bonus-link {
  display: block;
  margin-top: 4px;
  text-decoration: underline !important;
}

.one-message-bt {
  padding: 0;
  background: transparent;
  border: 0;
  float: right;
}

.successMessage {
  font-weight: 500;
  text-align: left;
  font-size: 14px;
  padding: 8px 8px 0px 4px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.87) !important;
}

.one-message-dt {
  float: right;
  color: rgba(255, 255, 255, 0.87);
  font-size: 14px;
  vertical-align: text-top;
}

.one-message-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}

.message-title {

  background: #202020;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.87);
}

.new-message {
  padding: 0px 4px 0px 8px;
  vertical-align: text-top;
}

.message-title td {
  padding-top: 8px !important;
  font-size: 14px;
  font-weight: 700;
}

.message-title td div {
  max-height: 42px;
  overflow: hidden;
}

.messages-day {
  vertical-align: text-top;
  color: #A9A7AF;
  font-size: 14px;
  text-align: right;
}

.messages-day img {
  vertical-align: middle;
}

.balance-title {
  color: rgba(255, 255, 255, 0.87);
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.account-type-tran {
  text-transform: capitalize;
}

.bet-history-header {
  background: #121212;
}

.slip-outcome .won {
  color: #01B601;
}

.slip-outcome .cashout {
  color: #01B601;
}

.slip-outcome .open {
  color: #E6A544;
}

.slip-outcome {
  text-transform: uppercase;
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 16px !important;
}

.slip-hist-details {
  color: rgba(255, 255, 255, 0.87) !important;
  font-size: 12px !important;
  font-weight: normal !important;
  font-style: normal !important;
  line-height: 16px !important;
}

/*betsafe custom starts here */
.header-mpesa {

  width: 25%;
}

.header-mpesa img {

  width: 60px;
  float: right;
}

.header-paybill {
  background: #00B700;
  border-bottom-right-radius: 64px;
  color: #FFF;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  height: 24px;
  box-sizing: border-box;
}

@media only screen and (min-width: 360px) {

  .header-paybill {
    height: 32px;
  }
}

.header-module {
  height: 40px;
  box-sizing: border-box;
}

@media only screen and (min-width: 360px) {

  .header-module {
    height: 48px;
  }
}

.header-lb {
  height: 1px;
  background: #121212;
}

.header-row {
  background: #202020;
}

.search-row {
  background: #121212;
  height: 48px;
}

.brand-row {
  background: #202020;
  height: 40px;
}

@media only screen and (min-width: 360px) {

  .brand-row {
    height: 48px;
  }
}

.hd-login {
  color: rgba(255, 255, 255, 0.87);
  float: right;
  margin-right: 10px;
  font-size: x-small;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: underline !important;
}

.hd-loggedin {
  color: rgba(255, 255, 255, 0.87);
  float: right;
  margin-right: 8px;
  font-size: 12px;
  padding-top: 4px;
  font-weight: 700;
}

@media only screen and (min-width: 360px) {

  .hd-loggedin {
    padding-top: 8px;
  }
}

.acc-created-details {
  color: rgba(255, 255, 255, 0.87);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  padding-bottom: 8px;
}

.acc-created-border {
  height: 1px;
  background: #414141;
}

.acc-created-row {
  height: 40px;
}

.nav-hd {
  width: 20px;
}

.nav-hd img {
  width: 20px;
  height: 16px;
}

.cs-middle-pad {
  padding: 8px 0px;
}

.mb-8 {
  margin-bottom: 8px !important;
}

.mb-12 {
  margin-bottom: 12px !important;
}

.search-hd {
  width: 20px;
  height: 20px;
  background: url(/lite/img/search.svg) center no-repeat;
  cursor: pointer;
  opacity: .87;
}

.profile-hd {
  width: 20px;
  height: 20px;
  background: url(/lite/img/profile.svg) center no-repeat;
  cursor: pointer;
  opacity: .87;
  padding-right: 16px !important;
}

.bs-butt {
  height: 24px;
  padding-top: 0px;
  background: rgba(255, 255, 255, 0.87);
  border: none;
  float: right;
}

@media only screen and (min-width: 360px) {

  .bs-butt {
    height: 32px;
  }
}

.betslip-hd {
  width: 20px;
  height: 30px;
  background-size: 25px;
  opacity: .87;
  padding: 0px 0px 0px 4px !important;
}

.betslip-hd img {
  width: 14px;
  margin-top: 5px;
}

.join-now {
  background: #00B700 !important;
  color: rgba(255, 255, 255, 0.87);
  border-radius: 3px;
  border: 1px solid #00B700 !important;
  padding: 3px 5px;
  float: right;
  font-size: x-small;
  font-size: 12px;
  height: 24px;
  font-weight: 700;
  vertical-align: middle;
  cursor: pointer;
}

@media only screen and (min-width: 360px) {

  .join-now {
    height: 32px;
  }
}

.deposit-header {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background: #01B601;
  float: right;
  border: 1px solid #00B700 !important;
  color: rgba(255, 255, 255, 0.87);
  line-height: 8px;
}

@media only screen and (min-width: 360px) {

  .deposit-header {
    width: 32px;
    height: 32px;
  }
}

.freebet-label {
  color: rgba(255, 255, 255, 0.57);
}

.live-highlight {
  display: block;
  font-size: 8px;
  line-height: 15px;
  color: #01b601;
}

.freebet-radio {
  vertical-align: top;
  margin-left: 8px !important;
}

.depo-mpesa-details {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.87);
}

.depo-mpesa-details ol {
  margin: 0;
  padding-left: 16px;
}

.remove-match-slip {
  background: #1E1E1E;
  width: 25px;
}

input[type="radio"] {
  background-color: #262626 !important;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 0px 5px;
  padding: initial;
  border: initial;
}

.page-header-row {
  height: 40px;
}

@media only screen and (min-width: 360px) {

  .page-header-row {
    height: 48px;
  }
}

.mpesa-row {
  padding: 0 !important;
}

.search-txt {
  padding: 5px;
}

.search-table {
  width: 100%;
}

:focus-visible {
  outline: none !important;
}

.disabled-odds {
  text-align: center;
  height: 50px;
  background: #242424 !important;
  border: 1px solid #3b3b3b !important;
  color: #666 !important;
}

.bck-to-top {
  width: 100%;
  background: #2E2F30;
  color: rgba(255, 255, 255, 0.87);
  border: none;
  border-radius: 4px;
  height: 24px;
  font-size: 12px;
  font-weight: 700;
  margin: 12px 0px 16px 0px;
  cursor: pointer;
}

@media only screen and (min-width: 360px) {

  .bck-to-top {
    height: 32px;
  }
}

.sponsor-bd {
  border-left: 2px solid #424242;
}

.pv-8 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.pv-2 {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

.footer-logo {
  background: url(/lite/img/header_logo.png) center center no-repeat;
  background-size: 112px;
  height: 24px;
  background-position: left;
  padding-bottom: 12px;
}

.sponsor-gor {
  background: url(/lite/img/gor-mahia.png) center center no-repeat;
  background-size: 35px;
  background-position: left;
  min-width: 45px;
  width: 15%;
}

.sponsor-afc {
  background: url(/lite/img/afc-leopards.svg) center center no-repeat;
  background-size: 38px;
  background-position: left;
  background-position-y: bottom;
}

.update-butt {
  height: 32px;
  background: #2E2F30;
  border: 1px solid rgba(255, 255, 255, 0.57);
  color: rgba(255, 255, 255, 0.87);
  font-size: smaller;
  padding: 2px;
}

.full-width {
  width: 100% !important;
}

.sponsor-title {
  text-align: left;
  padding: 0px 0px 3px 8px;
  line-height: 1.1em;
  font-size: 0.8em;
  margin: 0px;
  text-transform: uppercase;
  color: #A9A7AF;
}

.sponsor-txt {
  text-align: left;
  padding-left: 8px;
  line-height: 1.3em;
  font-size: 1em;
  margin: 0px;
}

.sponsor-spacer {
  height: 10px;
  background-color: transparent;
}

.about-footer {
  text-align: left;
  line-height: 18px;
  color: #A9A7AF;
}

.about-rdmore {
  color: rgba(255, 255, 255, 0.87);
}

.cs-tel {
  width: 100%;
  background: #01b601;
  color: rgba(255, 255, 255, 0.87);
  border: 1px solid #01b601;
  border-radius: 3px;
  height: 24px;
  cursor: pointer;
}

@media only screen and (min-width: 360px) {

  .cs-tel {
    height: 32px;
  }
}

.sms-cell {
  width: 50%;
}

.sms-content {
  text-align: left;
  line-height: 14px;
  color: #A9A7AF;
  margin-bottom: 4px;
}

.sp-menu-ft {
  padding: 1px 10px;
}

.cs-content {
  text-align: left;
  line-height: 18px;
  color: #A9A7AF;
  margin: 0px;
  font-size: 12px;
}

.sms-box {
  color: rgba(255, 255, 255, 0.87);
  font-size: 18px;
  text-align: left;
  margin: 0px;
  font-weight: 500;
}

.ft-separator {
  border-top: 1px solid #3B3B3B;
  border-bottom: 1px solid #3B3B3B;
  padding: 4px 0px;
}

.ft-details {
  padding: 6px 8px;
  text-align: left;
  background: #2B2B2B;
  margin: 0;
  height: 24px;
  box-sizing: border-box;
  border-radius: 1px;
}

@media only screen and (min-width: 360px) {

  .ft-details {
    height: 32px;
    padding: 8px;
  }
}

.ft-details span {

  float: right;
  font-size: 23px;
  color: #A9A7AF;
  height: 100%;
}

.ft-details span img {
  vertical-align: top;
}

.social-footer {

  display: inline-block;
  font-size: 0;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  border-radius: 50%;
  background-color: #2a2b2c;
}

.social-footer svg {
  width: 25px;
  color: #A9A7AF;
  fill: #A9A7AF;
  margin-top: 8px;
}

.mt-10 {
  margin-top: 10px;
}

.safaricom-ft {
  width: 80px;
  height: 16px;
  background: url(/lite/img/payments/safaricom.png) center center no-repeat;
  background-size: 70px;
}

.mpesa-ft {
  width: 50px;
  height: 33px;
  background: url(/lite/img/payments/mpesa.png) center center no-repeat;
  background-size: 40px;
}

.footer-18 {
  width: 30px;
  height: 22px;
  background: url(/lite/img/payments/footer_18.png) center center no-repeat;
  background-size: 22px;
}

.footer-terms {
  float: left;
}

.tcc {
  padding-right: 6px;
  border-right: 1px solid #FFF;
}

.vh-40 {
  height: 40px;
}

.sports-icon {
  width: 14px;
  height: 14px;
  vertical-align: text-bottom;
  float: left;
  padding-top: 10px;
}

.ellipse-icon {
  width: 14px;
  height: 14px;
  vertical-align: text-bottom;
}

.show-pwd {
  float: right;
  text-decoration: underline;
  cursor: pointer;
}

.min-chars {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.57);
  padding-top: 4px;
  display: inline-block;
}

.won {
  color: #01B601 !important;
}

.cashout-confirm {
  background: rgba(255, 255, 255, 0.87);
  color: #01B601;
  float: right;
  width: 73px;
  height: 24px;
  border: none;
  border-radius: 4px;
}

.bonus-butt-more {
  display: block;
  background: transparent;
  border: none;
  padding-left: 0;
  color: rgba(255, 255, 255, 0.87);
  text-align: left;
}

.lost {
  color: #FF007A !important;
}

.deposit-sel {
  width: 100%;
  height: 24px;
  background: #2E2F30;
  border: 1px solid rgba(255, 255, 255, 0.57);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.87);
  font-weight: 700;
  font-size: xx-small;
  font-size: 12px;
  margin: 0px 0px 8px 0px !important;
  box-sizing: border-box;
  text-align: center;
}

.but-height {
  height: 24px !important;
}

@media only screen and (min-width: 360px) {

  .but-height {
    height: 32px !important;
  }
}

.opera-sel {
  height: 24px;
  background: #2E2F30 !important;
  border: 1px solid rgba(255, 255, 255) !important;
  color: rgba(255, 255, 255) !important;
  font-weight: 700;
  font-size: xx-small !important;
  text-align: center;
}

.markets-title {
  text-align: left;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 8px !important;
  color: rgba(255, 255, 255, 0.87);
}

.m-0 {
  margin: 0 !important;
}

.payout {
  color: #01B601 !important;
}

.footer-menu li a {
  font-size: 12px !important;
  line-height: 14px !important;
  color: rgba(255, 255, 255, 0.57) !important;
  font-weight: 500 !important;
  padding: 4px 0px;
  display: inline-block;
}

input:-internal-autofill-selected {
  appearance: menulist-button;
  background-image: none !important;
  background-color: #FFFFFF !important;
  color: rgba(0, 0, 0, 0.87);
}

.jb-butt {
  height: 55px;
  border: 1px solid #979797 !important;
  background: #2e2e2e !important;
}

.picked {
  background: #01B601 !important;
  border: 1px solid #01B601 !important;
  color: rgba(255, 255, 255, 0.87) !important;
  font-weight: 100;
}

.cursor-hand {
  cursor: pointer;
}

.opera-input {
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.87);
  border: 1px solid #FFF;
  background-color: #FFFFFF !important;
  border-radius: 2px;
  font-size: 12px;
  margin-right: 8px;
  height: 32px;
  box-sizing: border-box;
  width: 100%;
}

.opera-butt {
  width: 100%;
  border: none;
  height: 24px;
  background-color: #01B601;
  color: rgba(255, 255, 255, 0.87);
  font-weight: 700;
  font-size: 12px;
  margin: 20px 0px;
  border-radius: 4px;
  cursor: pointer;
}

.opera-label {
  margin-bottom: 5px;
  display: block;
  color: rgba(255, 255, 255, 0.87);
  font-size: 12px;
  font-weight: 700;
}