<div class="row">
    <div class="center-container">
        <div class="col-xs-5 col-md-6 col-lg-5 text-d wordwrap">
            <div> For the best experience with android phone download Betsafe app from the link below </div>
            <a href="https://betsafe.co.ke/betsafe.apk" class="place-bet-btn dd"
                type="button"><strong>Download</strong></a>
            <div>See picture next for details on how android app works. </div>
        </div>
        <div class="col-xs-5 col-md-6 col-lg-5">
            <img class="android" src="/img/walk_1.jpg" alt="BetSafe Android App" />
        </div>

    </div>
</div>

<style>
    img.android {
        margin: 10px;
    }

    .text-d {
        margin: 10px;
    }

    .dd {
        margin-bottom: 5px;
        font-size: 21px;
        margin-top: 5px;
    }

    .row {
        overflow: hidden;
    }

    header.dl {
        padding-top: 10px;
    }

    .center-container {
        position: relative;
        min-height: 125px;
        height: auto;
    }


    .wordwarp {
        word-wrap: break-word;
    }
</style>