<table class="top--nav" width="100%">
    <tr>
        <!-- <td class="<?= ($tab == 'highlights') ? 'selected': ''; ?>">
            <a href="{{ url('/index') }}?id={{current_sport['sport_id']}}"><?php echo $t->_('highlights'); ?></a>
        </td>
        <td class="<?= ($tab == 'upcoming') ? 'selected': ''; ?>">
            <a href="{{ url('upcoming') }}?id={{current_sport['sport_id']}}"><?php echo $t->_('upcoming'); ?></a>
        </td>
        <td class="<?= ($tab == 'tomorrow') ? 'selected': ''; ?>">
            <a href="{{ url('tomorrow') }}?id={{current_sport['sport_id']}}"><?php echo $t->_('tomorrow'); ?></a>
        </td> -->
    </tr>
</table>