<table id="main">
    <tr>
        <td class="std-pd bonus-bg">
            {{ partial('partials/expired-bonus') }}
        </td>
    </tr>
    <tr class="login-separator">
        <td></td>
    </tr>
</table>